<div class="col-xs-12">
  <table class="table">
    <tr *ngFor="let todo of todos; let i = index">
        <td [class.done-true]="todo.completed">{{todo.id}}</td>
        <td [class.done-true]="todo.completed">{{todo.name}}</td>
        <td>
          <button class="pull-right btn btn-default" (click)="markDone(todo)" *ngIf="!todo.completed">
            Done
          </button>
          <button class="pull-right btn btn-default" (click)="markUndone(todo)" *ngIf="todo.completed">
            Redo
          </button>
          <button class="pull-right btn btn-default" (click)="deleteTodo(todo, i)">
            Delete
          </button>
        </td>
    </tr>
  </table>
</div>
